body {
  background-color: #eff3f8;
  margin: 2em;
}

.embed {
  width: 100%;
  height: 850px;
  padding: 0 0 2em 0;
}

.scores {
  display: none;
}

span.badge {
  font-size: 100%;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
